/*header*/
.header {
    background-color: white;
    padding: 2px;
    display: flex;
    height: 70px;
    z-index: 2;
}

.sticky{
    position: fixed;
    top:0;
    width: 100%;
} */

.sticky + .content{
    padding-top: 102px;
}

/*left header*/
.header-logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo-img {
    width: 200px;
    height: 100%;
    object-fit:cover;
    margin-left: 10%;
}

/*center header*/
.header-center-menu {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-menu-ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.center-menu-ul li div {
    padding: 3px 4px;
}

.center-menu-ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #7595C6;
}

.hover-animation {
    display: inline-block;
    position: relative;
    color: #7595C6;
}

.hover-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #7595C6;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*right header*/
.header-right-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: aquamarine; */
}

.header-right-container a:first-child {
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-left: 1px solid #7595C6;
}

.header-right-container a.link {
    text-decoration: none;
    color: #7595C6;
    transition: all 0.2s ease;
}

.header-right-container a.link:hover {
    color: #A8BaDF;
}

.header-right-container-profile,
.header-right-container-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 18px;
    /* background-color: aqua; */
}

.header-right-container div {
    width: auto;
}

/*----------------------------------------------------------------*/
/* media query */
/* hide header nav bar when in mobile view */
@media(max-width:426px) {

    .header-center-menu,
    .header-right-container {
        display: none;
    }
    /* TODO  */
    /* when hide, show the menu icon that list all the hidden element */
}

.display-none {
    display: none;
}

/* ============================================================== */
/* Footer */
.footer{
    margin-top: 30px;
}

.footer-box {
    background-color: #7cafc4;
    padding: 20px;
    display: flex;
}

.footer .footer-box-1 {
    flex-direction: column;
}

.footer-box-2 ul li a {
    text-decoration: none;
}

.footer-box-2 ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.footer-box-3 ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.footer-box-3 ul li a {
    text-decoration: none;
}

div.footer-box-2 ul a, div.footer-box-3 ul a{
    color: lightgrey;
}

div.footer-box-2 ul a:hover, div.footer-box-3 ul a:hover{
    color: white;
    text-decoration: underline;
    transition: 0.5s ease;
}

/* END OF HEADER & FOOTER */

/* content */
.content {
    flex-direction: column;
}

.content-header-bar {
    background-color: #7595C6;
    height: 40px;
}

.content-header-bar div{
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.content-body {
    flex-direction: column;
    gap: 10px;
}

.item-container {
    background-color: whitesmoke;
    height: 160px;
    border-radius: 4px;
}

.cart-item-container {
    flex-wrap: wrap;
}

.checkbox {
    width:  30px;
    height: 30px;
}

.item-img-name {
    gap: 10px;
}

.item-img-container {
    width: 120px;
    height: 120px;
}

.item-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.item-name-container {
    flex-direction: column;
    gap: 5px;
}

.item-variation {
    font-size: smaller;
    font-weight: lighter;
}

/* quantity button */
.value-button {
    background-color: whitesmoke;
    border-radius: 1px;
  }
  
  .value-button:hover {
    cursor: pointer;
  }

  input#number {
    width: 20px;
    text-align: center;
    border: none;
    background-color: aliceblue;
    
  }

  /*----------------------------------------------------------------*/
/* media query */
/* total when in mobile view */
@media(max-width:426px) {
    .header-bar-content-3, .header-bar-content-4, .header-bar-content-5 {
        display: none !important;
    }

    .break {
        flex-basis: 100%;
        height: 0;
    }

}

.cart-total {
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.total-price {
    font-weight: bolder;
    font-size:x-large;
}

.content-footer {
    background-color: #7595C6;
    flex-direction: column;
    gap: 15px;
    color: white;
}

.cal_cart_total {
    gap: 40px;
}
