<!DOCTYPE html>

<html lang="en">

<head>
    <title>Flash Sport</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="order.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>

    <link rel="shoe icon" href="../../assets/app/flash-favicon.ico" />
    <link href="../../css/declared_design_class.css" rel="stylesheet" type="text/css">
    <link href="../../css/reset.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- header -->
    <div class="header" id="header">
        <div class="header-logo">
            <!-- logo -->
            <img src="../../assets/app/logo-alt.png" alt="logo" class="header-logo-img">
        </div>

        <div class="header-center-menu">
            <ul class="center-menu-ul">
                <li><a href="" class="hover-animation">
                        <div>Home</div>
                    </a></li>
                <li><a href="" class="hover-animation">
                        <div>About us</div>
                    </a></li>
                <li><a href="" class="hover-animation">
                        <div>Shop</div>
                    </a></li>
            </ul>
        </div>

        <div class="header-right-container">
            <div class="header-right-container-profile">
                <i class="fa fa-user" alt="user icon"></i>
                <span class="pdl-15">leonard</span>
            </div>

            <div class="header-right-container-cart">
                <i class="fa fa-shopping-cart" alt="cart icon"></i>
                <span class="pdl-15">5</span>
            </div>
        </div>

    </div>
    <!-- end of header -->

    <div class="container-fluid my-5  d-flex  justify-content-center">
        <div class="border">
            <ul>
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        width="300px" src="../../assets/app/flash_logoOnly.png">
                    <span class="font-weight-bold">FLASH SPORT</span>
                    <span class="text-black-50">Profile</span><span> </span>

                </div>
                <li><a href="../profile/profile.html">Profile</a></li>
                <li><a href="order.html">View Orders</a></li>
            </ul>
        </div>
        <div class="card card-1">
            <div class="card-header bg-white">
                <div class="media flex-sm-row flex-column-reverse justify-content-between  ">
                    <div class="col my-auto">
                        <h4 class="mb-0">Thanks for your Order,<span class="change-color">Anjali</span> !</h4>
                    </div>
                    <div class="col-auto text-center  my-auto pl-0 pt-sm-4"> <img
                            class="img-fluid my-auto align-items-center mb-0 pt-3"
                            src="../../assets/app/flash_logoOnly.png" width="115" height="115">
                        <p class="mb-4 pt-0 Glasses">Order Details</p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-between mb-3">
                    <div class="col-auto">
                        <h6 class="color-1 mb-0 change-color">Receipt</h6>
                    </div>
                    <div class="col-auto  "> <small>Receipt Voucher : 1KAU9-84UIL</small> </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="media">
                                    <div class="sq align-self-center "> <img
                                            class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0"
                                            src="../../assets/home_category_image/boots.jpg" width="130" height="80" />
                                    </div>
                                    <div class="media-body my-auto text-right">
                                        <div class="row  my-auto flex-column flex-md-row">
                                            <div class="col my-auto">
                                                <h6 class="mb-0"> Jack Jacs</h6>
                                            </div>
                                            <div class="col-auto my-auto"> <small>Shoes 1 </small></div>
                                            <div class="col my-auto"> <small>UK 8</small></div>
                                            <div class="col my-auto"> <small>Qty : 1</small></div>
                                            <div class="col my-auto">
                                                <h6 class="mb-0">RM 36.00</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-3 ">
                                <div class="row">
                                    <div class="col-md-3 mb-3"> <small> Track Order <span><i class=" ml-2 fa fa-refresh"
                                                    aria-hidden="true"></i></span></small> </div>
                                    <div class="col mt-auto">
                                        <div class="progress my-auto">
                                            <div class="progress-bar progress-bar  rounded" style="width: 62%"
                                                role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                        <div class="media row justify-content-between ">
                                            <div class="col-auto text-right"><span> <small
                                                        class="text-right mr-sm-2"></small> <i
                                                        class="fa fa-circle active"></i> </span></div>
                                            <div class="flex-col"> <span> <small class="text-right mr-sm-2">Out for
                                                        delivary</small><i class="fa fa-circle active"></i></span></div>
                                            <div class="col-auto flex-col-auto"><small
                                                    class="text-right mr-sm-2">Delivered</small><span> <i
                                                        class="fa fa-circle"></i></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="media">
                                    <div class="sq align-self-center "> <img
                                            class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0"
                                            src="../../assets/home_category_image/slipper.jpg" width="130"
                                            height="80" /> </div>
                                    <div class="media-body my-auto text-right">
                                        <div class="row  my-auto flex-column flex-md-row">
                                            <div class="col-auto my-auto ">
                                                <h6 class="mb-0"> Michel Mark</h6>
                                            </div>
                                            <div class="col my-auto  "> <small>Shoes 2 </small></div>
                                            <div class="col my-auto  "> <small>UK 7</small></div>
                                            <div class="col my-auto  "> <small>Qty : 1</small></div>
                                            <div class="col my-auto ">
                                                <h6 class="mb-0">RM 125.00</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-3 ">
                                <div class="row ">
                                    <div class="col-md-3 mb-3"> <small> Track Order <span><i class=" ml-2 fa fa-refresh"
                                                    aria-hidden="true"></i></span></small> </div>
                                    <div class="col mt-auto">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar  rounded" style="width: 18%"
                                                role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                        <div class="media row justify-content-between ">
                                            <div class="col-auto text-right"><span> <small
                                                        class="text-right mr-sm-2"></small> <i
                                                        class="fa fa-circle active"></i> </span></div>
                                            <div class="flex-col"> <span> <small class="text-right mr-sm-2">Out for
                                                        delivary</small><i class="fa fa-circle"></i></span></div>
                                            <div class="col-auto flex-col-auto"><smallclass="text-right
                                                    mr-sm-2">Delivered</small><span> <i class="fa fa-circle"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <p class="mb-1 text-dark"><b>Order Details</b></p>
                            </div>
                            <div class="flex-sm-col text-right col">
                                <p class="mb-1"><b>Total</b></p>
                            </div>
                            <div class="flex-sm-col col-auto">
                                <p class="mb-1">RM 4,835</p>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="flex-sm-col text-right col">
                                <p class="mb-1"> <b>Discount</b></p>
                            </div>
                            <div class="flex-sm-col col-auto">
                                <p class="mb-1">RM 150</p>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="flex-sm-col text-right col">
                                <p class="mb-1"><b>GST 18%</b></p>
                            </div>
                            <div class="flex-sm-col col-auto">
                                <p class="mb-1">843</p>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="flex-sm-col text-right col">
                                <p class="mb-1"><b>Delivery Charges</b></p>
                            </div>
                            <div class="flex-sm-col col-auto">
                                <p class="mb-1">Free</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row invoice ">
                    <div class="col">
                        <p class="mb-1"> Invoice Number : 788152</p>
                        <p class="mb-1">Invoice Date : 22 Dec,2019</p>
                        <p class="mb-1">Recepits Voucher:18KU-62IIK</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="jumbotron-fluid">
                    <div class="row justify-content-between ">
                        <div class="col-sm-auto col-auto my-auto"><img class="img-fluid my-auto align-self-center "
                                src="../../assets/app/flash_font.png" width="115" height="115"></div>
                        <div class="col-auto my-auto ">
                            <h2 class="mb-0 font-weight-bold">TOTAL PAID</h2>
                        </div>
                        <div class="col-auto my-auto ml-auto text-dark">
                            <h1 class="display-3 ">&#8377; 5,528</h1>
                        </div>
                    </div>
                    <div class="row mb-3 mt-3 mt-md-0">
                        <div class="col-auto border-line"> <small class="text-dark">PAN:AA02hDW7E</small></div>
                        <div class="col-auto border-line"> <small class="text-dark">CIN:UMMC20PTC </small></div>
                        <div class="col-auto "><small class="text-dark">GSTN:268FD07EXX </small> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer pdt-15">

        <div class="footer-box">
            <div class="footer-box-1 flex-2">
                <div>
                    <!-- logo -->
                    <img src="../../assets/app/logo-alt.png" alt="logo" class="header-logo-img">
                </div>
                <div class="pdt-15">
                    <p>&#169;2023 Shoe Assignment</p>
                    <p>All Right Reserved</p>
                </div>

            </div>

            <div class="footer-box-2 flex-1">
                <p class="pdb-15">Site Map</p>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Shop</a></li>
                </ul>
            </div>

            <div class="footer-box-3 flex-1">
                <p class="pdb-15">Useful Links</p>
                <ul>
                    <li><a href="">Private Policy</a></li>
                    <li><a href="">Term & Condition</a></li>
                </ul>
            </div>
        </div>

    </div>
    <!-- end of footer -->
</body>